---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Open cKK9OmYf","description":"Open change","source":{"branch":{"name":"cKK9OmYf"}},"destination":{"branch":{"name":"main"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 46, "title": "Open cKK9OmYf", "description": "Open change", "rendered": {"title": {"type": "rendered", "raw": "Open cKK9OmYf", "markup": "markdown", "html": "<p>Open cKK9OmYf</p>"}, "description": {"type": "rendered", "raw": "Open change", "markup": "markdown", "html": "<p>Open change</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-29T14:33:09.162141+00:00", "updated_on": "2026-01-29T14:33:09.712925+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "cKK9OmYf", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "7598e31e9a2b", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/7598e31e9a2b"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/7598e31e9a2b"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/46"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diff/shambucket/shambucket:7598e31e9a2b%0D5934bca3d15f?from_pullrequest_id=46&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diffstat/shambucket/shambucket:7598e31e9a2b%0D5934bca3d15f?from_pullrequest_id=46&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/46/statuses"}}, "summary": {"type": "rendered", "raw": "Open change", "markup": "markdown", "html": "<p>Open change</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.029000042s
[...]
    - id: 3
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/47/merge
        method: POST
      response:
        body: Bad Request
        headers:
            Content-Type:
                - text/plain
        status: 400 Bad Request
        code: 400
        duration: 100.485417ms
