---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing HP7kmyul","description":"Test PR for comments","source":{"branch":{"name":"HP7kmyul"}},"destination":{"branch":{"name":"main"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 97, "title": "Testing HP7kmyul", "description": "Test PR for comments", "rendered": {"title": {"type": "rendered", "raw": "Testing HP7kmyul", "markup": "markdown", "html": "<p>Testing HP7kmyul</p>"}, "description": {"type": "rendered", "raw": "Test PR for comments", "markup": "markdown", "html": "<p>Test PR for comments</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-30T13:09:53.982328+00:00", "updated_on": "2026-01-30T13:09:54.413129+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "HP7kmyul", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "59432fc330ab", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/59432fc330ab"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/59432fc330ab"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/97"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diff/shambucket/shambucket:59432fc330ab%0D5934bca3d15f?from_pullrequest_id=97&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diffstat/shambucket/shambucket:59432fc330ab%0D5934bca3d15f?from_pullrequest_id=97&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/statuses"}}, "summary": {"type": "rendered", "raw": "Test PR for comments", "markup": "markdown", "html": "<p>Test PR for comments</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 973.01825ms
    - id: 1
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"DiSg6kTqYQs2Np2kHljRAg68bCodOYNA"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/comments
        method: POST
      response:
        body: '{"id": 747082055, "created_on": "2026-01-30T13:09:54.919661+00:00", "updated_on": "2026-01-30T13:09:54.928001+00:00", "content": {"type": "rendered", "raw": "DiSg6kTqYQs2Np2kHljRAg68bCodOYNA", "markup": "markdown", "html": "<p>DiSg6kTqYQs2Np2kHljRAg68bCodOYNA</p>"}, "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "deleted": false, "pending": false, "type": "pullrequest_comment", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/comments/747082055"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/97/_/diff#comment-747082055"}}, "pullrequest": {"type": "pullrequest", "id": 97, "title": "Testing HP7kmyul", "draft": false, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/97"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 432.495458ms
[...]
    - id: 11
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"HKv6iVNGqez0ULi0p77f9iMElj2ajpkk"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/comments/747082055
        method: PUT
      response:
        body: '{"id": 747082055, "created_on": "2026-01-30T13:09:54.919661+00:00", "updated_on": "2026-01-30T13:09:58.907094+00:00", "content"[...]
    - id: 12
      request:
        host: api.bitbucket.org
        form:
            pagelen:
                - "100"
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/97/comments?pagelen=100
        method: GET
      response:
        body: '{"values": [{"id": 747082055, "created_on": "2026-01-30T13:09:54.919661+00:00", "updated_on": "2026-01-30T13:09:58.907094+00:00", "content": {"type": "rendered", "raw": "HKv6iVNGqez0ULi0p77f9iMElj2ajpkk", "markup": "markdown", "html": "<p>HKv6iVNGqez0ULi0p77f9iMElj2ajpkk</p>"}, "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-p[...]
