---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing uToVKcy1","description":"Test PR for comments","source":{"branch":{"name":"uToVKcy1"}},"destination":{"branch":{"name":"main"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 53, "title": "Testing uToVKcy1", "description": "Test PR for comments", "rendered": {"title": {"type": "rendered", "raw": "Testing uToVKcy1", "markup": "markdown", "html": "<p>Testing uToVKcy1</p>"}, "description": {"type": "rendered", "raw": "Test PR for comments", "markup": "markdown", "html": "<p>Test PR for comments</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-29T14:57:07.326106+00:00", "updated_on": "2026-01-29T14:57:07.944071+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "uToVKcy1", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "0b5df173de65", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/0b5df173de65"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/0b5df173de65"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/53"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diff/shambucket/shambucket:0b5df173de65%0D5934bca3d15f?from_pullrequest_id=53&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diffstat/shambucket/shambucket:0b5df173de65%0D5934bca3d15f?from_pullrequest_id=53&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/statuses"}}, "summary": {"type": "rendered", "raw": "Test PR for comments", "markup": "markdown", "html": "<p>Test PR for comments</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.06752425s
    - id: 1
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"5t5G3hhgGaZkb99K0BrqQ2hRemDE4ZDa"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/comments
        method: POST
      response:
        body: '{"id": 746642637, "created_on": "2026-01-29T14:57:08.443430+00:00", "updated_on": "2026-01-29T14:57:08.453338+00:00", "content": {"type": "rendered", "raw": "5t5G3hhgGaZkb99K0BrqQ2hRemDE4ZDa", "markup": "markdown", "html": "<p>5t5G3hhgGaZkb99K0BrqQ2hRemDE4ZDa</p>"}, "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "deleted": false, "pending": false, "type": "pullrequest_comment", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/comments/746642637"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/53/_/diff#comment-746642637"}}, "pullrequest": {"type": "pullrequest", "id": 53, "title": "Testing uToVKcy1", "draft": false, "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/53"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 462.929041ms
[...]
    - id: 11
      request:
        host: api.bitbucket.org
        body: '{"content":{"raw":"KtHkRdrlBau4gx93qzkWmce05vS1k0j9"}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/comments/746642637
        method: PUT
      response:
        body: '{"id": 746642637, "created_on": "2026-01-29T14:57:08.443430+00:00", "updated_on": "2026-01-29T14:57:13.083210+00:00", "content"[...]
    - id: 12
      request:
        host: api.bitbucket.org
        form:
            pagelen:
                - "100"
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/53/comments?pagelen=100
        method: GET
      response:
        body: '{"values": [{"id": 746642637, "created_on": "2026-01-29T14:57:08.443430+00:00", "updated_on": "2026-01-29T14:57:13.083210+00:00", "content": {"type": "rendered", "raw": "KtHkRdrlBau4gx93qzkWmce05vS1k0j9", "markup": "markdown", "html": "<p>KtHkRdrlBau4gx93qzkWmce05vS1k0j9</p>"}, "user": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-p[...]
