---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing MgNPVwby","description":"Test PR with non-existent base","source":{"branch":{"name":"MgNPVwby"}},"destination":{"branch":{"name":"atVonJoL"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests
        method: POST
      response:
        body: '{"type": "error", "error": {"message": "destination: branch not found: atVonJoL", "fields": {"destination": ["branch not found: atVonJoL"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 205.738875ms
