---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing NwvMOe1U","description":"Test PR with custom base","source":{"branch":{"name":"NwvMOe1U"}},"destination":{"branch":{"name":"2v1W4rdX"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 55, "title": "Testing NwvMOe1U", "description": "Test PR with custom base", "rendered": {"title": {"type": "rendered", "raw": "Testing NwvMOe1U", "markup": "markdown", "html": "<p>Testing NwvMOe1U</p>"}, "description": {"type": "rendered", "raw": "Test PR with custom base", "markup": "markdown", "html": "<p>Test PR with custom base</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-29T14:57:10.404888+00:00", "updated_on": "2026-01-29T14:57:10.847347+00:00", "destination": {"branch": {"name": "2v1W4rdX"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "NwvMOe1U", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "720ad65a53a5", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/720ad65a53a5"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/720ad65a53a5"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/55"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diff/shambucket/shambucket:720ad65a53a5%0D5934bca3d15f?from_pullrequest_id=55&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diffstat/shambucket/shambucket:720ad65a53a5%0D5934bca3d15f?from_pullrequest_id=55&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55/statuses"}}, "summary": {"type": "rendered", "raw": "Test PR with custom base", "markup": "markdown", "html": "<p>Test PR with custom base</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.042095458s
    - id: 1
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/55
        method: GET
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 55, "title": "Testing NwvMOe1U", "description": "Test PR with custom base", "rendered": {"title": {"type": "rendered", "raw": "Testing NwvMOe1U", "mark[...]
[...]
