---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDORFeuHw"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 160.033ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDORFeuHw","baseRefName":"main","headRefName":"OXjx2efk","title":"Testing OXjx2efk","body":"Test PR for comments"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDORFeuH87AkpxW","number":11,"url":"https://github.com/test-owner/test-repo/pull/11"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 727.944667ms
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddCommentInput!){addComment(input: $input){commentEdge{node{id,url}}}}","variables":{"input":{"subjectId":"PR_kwDORFeuH87AkpxW","body":"Z4YBdS1p9Uf79jr0fRT45JF6S9Y0FQ98"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addComment":{"commentEdge":{"node":{"id":"IC_kwDORFeuH87kM7GP","url":"https://github.com/test-owner/test-repo/pull/11#issuecomment-3828593039"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 492.203333ms
[...]
    - id: 12
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDORFeuH87kM7GP","body":"PvHgKHmbBbWGi05wg66Tq4RhEAsCgtcX"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":{"issueComment":{"id":"IC_kwDORFeuH87kM7GP"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 733.983708ms
    - id: 13
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":3,"id":"PR_kwDORFeuH87AkpxW"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHO5DOxoQ==","hasNextPage":true},"nodes":[{"id":"IC_kwDORFeuH87kM7GP","body":"PvHgKHmbBbWGi05wg66Tq4RhEAsCgtcX","url":"https://github.com/test-owner/test-repo/pull/11#issuecomment-3828593039","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-01-31T14:09:04Z","updatedAt":"2026-01-31T14:09:09Z"},{"id":"IC_kwDORFeuH87kM7GX","body":"HNXp9mbdzwXncpso4KaFLIAC7MwraK7K","url":"https://github.com/test-owner/test-repo/pull/11#issuecomment-3828593047","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-01-31T14:09:05Z","updatedAt":"2026-01-31T14:09:05Z"},{"id":"IC_kwDORFeuH87kM7Gh","body":"ko1GWSEpsW4TenXxx2XgyxDS7Ep0RaQp","url":"https://github.com/test-owner/test-repo/pull/11#issuecomment-3828593057","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-01-31T14:09:05Z","updatedAt":"2026-01-31T14:09:05Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 203.80125ms
[...]
