---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($owner:String!$repo:String!){repository(owner: $owner, name: $repo){id}}","variables":{"owner":"test-owner","repo":"test-repo"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"id":"R_kgDORFeuHw"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.76025ms
    - id: 1
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:CreatePullRequestInput!){createPullRequest(input: $input){pullRequest{id,number,url}}}","variables":{"input":{"repositoryId":"R_kgDORFeuHw","baseRefName":"main","headRefName":"cCf4JuNA","title":"Testing cCf4JuNA","body":"Test PR for comments"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"createPullRequest":{"pullRequest":{"id":"PR_kwDORFeuH87AtZ9a","number":52,"url":"https://github.com/test-owner/test-repo/pull/52"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 595.829583ms
    - id: 2
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:AddCommentInput!){addComment(input: $input){commentEdge{node{id,url}}}}","variables":{"input":{"subjectId":"PR_kwDORFeuH87AtZ9a","body":"X0JgnWtGDbge8qMudALOHuR95vled4iG"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"addComment":{"commentEdge":{"node":{"id":"IC_kwDORFeuH87kV_rb","url":"https://github.com/test-owner/test-repo/pull/52#issuecomment-3830971099"}}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.009204625s
[...]
    - id: 12
      request:
        host: api.github.com
        body: |
            {"query":"mutation($input:UpdateIssueCommentInput!){updateIssueComment(input: $input){issueComment{id}}}","variables":{"input":{"id":"IC_kwDORFeuH87kV_rb","body":"zeNUAq172wahvEtSkyRlaGaHMXCYGOPF"}}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"updateIssueComment":{"issueComment":{"id":"IC_kwDORFeuH87kV_rb"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 646.008958ms
    - id: 13
      request:
        host: api.github.com
        body: |
            {"query":"query($after:String$first:Int!$id:ID!){node(id: $id){... on PullRequest{comments(first: $first, after: $after){pageInfo{endCursor,hasNextPage},nodes{id,body,url,viewerCanUpdate,viewerDidAuthor,createdAt,updatedAt}}}}}","variables":{"after":null,"first":3,"id":"PR_kwDORFeuH87AtZ9a"}}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"node":{"comments":{"pageInfo":{"endCursor":"Y3Vyc29yOnYyOpHO5Ff66Q==","hasNextPage":true},"nodes":[{"id":"IC_kwDORFeuH87kV_rb","body":"zeNUAq172wahvEtSkyRlaGaHMXCYGOPF","url":"https://github.com/test-owner/test-repo/pull/52#issuecomment-3830971099","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-01T12:20:12Z","updatedAt":"2026-02-01T12:20:17Z"},{"id":"IC_kwDORFeuH87kV_ri","body":"EoYOh6eJMujSrnOrCOxlIuVGK9O9Byeg","url":"https://github.com/test-owner/test-repo/pull/52#issuecomment-3830971106","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-01T12:20:13Z","updatedAt":"2026-02-01T12:20:13Z"},{"id":"IC_kwDORFeuH87kV_rp","body":"gw3NJcSgtqAXCotawQYeNlYz1sUlq2Zl","url":"https://github.com/test-owner/test-repo/pull/52#issuecomment-3830971113","viewerCanUpdate":true,"viewerDidAuthor":true,"createdAt":"2026-02-01T12:20:13Z","updatedAt":"2026-02-01T12:20:13Z"}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 240.173084ms
[...]
