---
version: 2
interactions:
    - id: 0
      request:
        host: api.bitbucket.org
        body: '{"title":"Testing kRHOuZ0f","description":"Test PR without reviewers","source":{"branch":{"name":"kRHOuZ0f"}},"destination":{"branch":{"name":"main"}}}'
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests
        method: POST
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 44, "title": "Testing kRHOuZ0f", "description": "Test PR without reviewers", "rendered": {"title": {"type": "rendered", "raw": "Testing kRHOuZ0f", "markup": "markdown", "html": "<p>Testing kRHOuZ0f</p>"}, "description": {"type": "rendered", "raw": "Test PR without reviewers", "markup": "markdown", "html": "<p>Test PR without reviewers</p>"}}, "state": "OPEN", "draft": false, "merge_commit": null, "close_source_branch": false, "closed_by": null, "author": {"display_name": "Ed Kohlwey", "links": {"self": {"href": "https://api.bitbucket.org/2.0/users/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D"}, "avatar": {"href": "https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/70121:2fb6ef7e-ae8b-4607-812d-06464301ba51/2afd832e-e6fa-409f-91c9-5d0980e60586/128"}, "html": {"href": "https://bitbucket.org/%7Bb473f550-fefb-4fe3-8c5a-9695bbd31ed1%7D/"}}, "type": "user", "uuid": "{b473f550-fefb-4fe3-8c5a-9695bbd31ed1}", "account_id": "70121:2fb6ef7e-ae8b-4607-812d-06464301ba51", "nickname": "Ed Kohlwey"}, "reason": "", "created_on": "2026-01-29T14:33:04.060222+00:00", "updated_on": "2026-01-29T14:33:04.538790+00:00", "destination": {"branch": {"name": "main"}, "commit": {"hash": "5934bca3d15f", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/5934bca3d15f"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/5934bca3d15f"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "source": {"branch": {"name": "kRHOuZ0f", "links": {}, "sync_strategies": ["merge_commit", "rebase"]}, "commit": {"hash": "78892bf600df", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/commit/78892bf600df"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/commits/78892bf600df"}}, "type": "commit"}, "repository": {"type": "repository", "full_name": "shambucket/shambucket", "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket"}, "avatar": {"href": "https://bytebucket.org/ravatar/%7Bbabb7b39-ab80-4015-999f-ebd75db36c15%7D?ts=default"}}, "name": "shambucket", "uuid": "{babb7b39-ab80-4015-999f-ebd75db36c15}"}}, "reviewers": [], "participants": [], "links": {"self": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44"}, "html": {"href": "https://bitbucket.org/shambucket/shambucket/pull-requests/44"}, "commits": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/commits"}, "approve": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/approve"}, "request-changes": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/request-changes"}, "diff": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diff/shambucket/shambucket:78892bf600df%0D5934bca3d15f?from_pullrequest_id=44&topic=true"}, "diffstat": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/diffstat/shambucket/shambucket:78892bf600df%0D5934bca3d15f?from_pullrequest_id=44&topic=true"}, "comments": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/comments"}, "activity": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/activity"}, "merge": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/merge"}, "decline": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/decline"}, "statuses": {"href": "https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44/statuses"}}, "summary": {"type": "rendered", "raw": "Test PR without reviewers", "markup": "markdown", "html": "<p>Test PR without reviewers</p>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 928.938166ms
    - id: 1
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/repositories/shambucket/shambucket/pullrequests/44
        method: GET
      response:
        body: '{"comment_count": 0, "task_count": 0, "type": "pullrequest", "id": 44, "title": "Testing kRHOuZ0f", "description": "Test PR without reviewers", "rendered": {"title": {"type": "rendered", "raw": "Testing kRHOuZ0f", "mar[...]
[...]
    - id: 3
      request:
        host: api.bitbucket.org
        headers:
            Content-Type:
                - application/json
        url: https://api.bitbucket.org/2.0/users/shambucket-admin
        method: GET
      response:
        body: '{"type": "error", "error": {"message": "shambucket-admin"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 107.661958ms
