---
version: 2
interactions:
    - id: 0
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/projects/test-owner%2Ftest-repo
        method: GET
      response:
        body: '{"id":78127113,"description":null,"name":"test-repo","name_with_namespace":"Edmund Kohlwey / test-repo","path":"test-repo","path_with_namespace":"test-owner/test-repo","created_at":"2026-01-31T01:19:16.445Z","default_branch":"main","tag_list":[],"topics":[],"ssh_url_to_repo":"git@gitlab.com:test-owner/test-repo.git","http_url_to_repo":"https://gitlab.com/test-owner/test-repo.git","web_url":"https://gitlab.com/test-owner/test-repo","readme_url":"https://gitlab.com/test-owner/test-repo/-/blob/main/README.md","forks_count":0,"avatar_url":null,"star_count":0,"last_activity_at":"2026-01-31T14:08:46.135Z","visibility":"public","namespace":{"id":82737059,"name":"Edmund Kohlwey","path":"test-owner","kind":"user","full_path":"test-owner","parent_id":null,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"container_registry_image_prefix":"registry.gitlab.com/test-owner/test-repo","_links":{"self":"https://gitlab.com/api/v4/projects/78127113","issues":"https://gitlab.com/api/v4/projects/78127113/issues","merge_requests":"https://gitlab.com/api/v4/projects/78127113/merge_requests","repo_branches":"https://gitlab.com/api/v4/projects/78127113/repository/branches","labels":"https://gitlab.com/api/v4/projects/78127113/labels","events":"https://gitlab.com/api/v4/projects/78127113/events","members":"https://gitlab.com/api/v4/projects/78127113/members","cluster_agents":"https://gitlab.com/api/v4/projects/78127113/cluster_agents"},"marked_for_deletion_at":null,"marked_for_deletion_on":null,"packages_enabled":true,"empty_repo":false,"archived":false,"owner":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"resolve_outdated_diff_discussions":false,"container_expiration_policy":{"cadence":"1d","enabled":false,"keep_n":10,"older_than":"90d","name_regex":".*","name_regex_keep":null,"next_run_at":"2026-02-01T01:19:16.470Z"},"repository_object_format":"sha1","issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"container_registry_enabled":true,"service_desk_enabled":true,"service_desk_address":"contact-project+test-owner-test-repo-78127113-issue-@incoming.gitlab.com","can_create_merge_request_in":true,"issues_access_level":"enabled","repository_access_level":"enabled","merge_requests_access_level":"enabled","forking_access_level":"enabled","wiki_access_level":"enabled","builds_access_level":"enabled","snippets_access_level":"enabled","pages_access_level":"private","analytics_access_level":"enabled","container_registry_access_level":"enabled","security_and_compliance_access_level":"private","releases_access_level":"enabled","environments_access_level":"enabled","feature_flags_access_level":"enabled","infrastructure_access_level":"enabled","monitor_access_level":"enabled","model_experiments_access_level":"enabled","model_registry_access_level":"enabled","package_registry_access_level":"enabled","emails_disabled":false,"emails_enabled":true,"show_diff_preview_in_email":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":20151226,"import_url":null,"import_type":null,"import_status":"none","import_error":null,"open_issues_count":0,"description_html":"","updated_at":"2026-01-31T14:33:43.844Z","ci_default_git_depth":20,"ci_delete_pipelines_in_seconds":null,"ci_forward_deployment_enabled":true,"ci_forward_deployment_rollback_allowed":true,"ci_job_token_scope_enabled":false,"ci_separated_caches":true,"ci_allow_fork_pipelines_to_run_in_parent_project":true,"ci_id_token_sub_claim_components":["project_path","ref_type","ref"],"build_git_strategy":"fetch","keep_latest_artifact":true,"restrict_user_defined_variables":false,"ci_pipeline_variables_minimum_override_role":"developer","runner_token_expiration_interval":null,"group_runners_enabled":true,"resource_group_default_process_mode":"unordered","auto_cancel_pending_pipelines":"enabled","build_timeout":3600,"auto_devops_enabled":false,"auto_devops_deploy_strategy":"continuous","ci_push_repository_for_job_token_allowed":false,"runners_token":"GR1348941JBEZfhjSnQYz5Vztxrca","ci_config_path":"","public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"allow_merge_on_skipped_pipeline":null,"request_access_enabled":true,"only_allow_merge_if_all_discussions_are_resolved":false,"remove_source_branch_after_merge":true,"printing_merge_request_link_enabled":true,"merge_method":"merge","merge_request_title_regex":null,"merge_request_title_regex_description":null,"squash_option":"default_off","enforce_auth_checks_on_uploads":true,"suggestion_commit_message":null,"merge_commit_template":null,"squash_commit_template":null,"issue_branch_template":null,"warn_about_potentially_unwanted_characters":true,"autoclose_referenced_issues":true,"max_artifacts_size":null,"external_authorization_classification_label":"","requirements_enabled":false,"requirements_access_level":"enabled","security_and_compliance_enabled":true,"compliance_frameworks":[],"duo_remote_flows_enabled":true,"duo_foundational_flows_enabled":true,"web_based_commit_signing_enabled":false,"permissions":{"project_access":{"access_level":50,"notification_level":3},"group_access":null}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 246.716333ms
    - id: 1
      request:
        host: gitlab.com
        headers:
        url: https://gitlab.com/api/v4/user
        method: GET
      response:
        body: '{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner","created_at":"2024-02-17T17:06:48.005Z","bio":"","location":"","linkedin":"","twitter":"","discord":"","website_url":"","github":"","job_title":"","pronouns":null,"organization":"","bot":false,"work_information":null,"local_time":null,"last_sign_in_at":"2025-04-12T13:29:26.841Z","confirmed_at":"2024-02-17T17:08:03.138Z","last_activity_on":"2026-01-31","email":"ed@irl.llc","theme_id":3,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2026-01-31T01:18:18.160Z","identities":[{"provider":"google_oauth2","extern_uid":"114476474281350880464","saml_provider_id":null},{"provider":"group_saml","extern_uid":"ed@irl.llc","saml_provider_id":1006019}],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"private_profile":false,"commit_email":"ed@irl.llc","preferred_language":"en","shared_runners_minutes_limit":null,"extra_shared_runners_minutes_limit":null,"scim_identities":[]}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 122.206833ms
    - id: 2
      request:
        host: gitlab.com
        body: '{"title":"Testing aB555mMS","description":"Test PR for comments","source_branch":"aB555mMS","target_branch":"main"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/78127113/merge_requests
        method: POST
      response:
        body: '{"id":451009809,"iid":19,"project_id":78127113,"title":"Testing aB555mMS","description":"Test PR for comments","state":"opened","created_at":"2026-01-31T14:35:23.669Z","updated_at":"2026-01-31T14:35:23.669Z","merged_by":null,"merge_user":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"main","source_branch":"aB555mMS","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"assignees":[],"assignee":null,"reviewers":[],"source_project_id":78127113,"target_project_id":78127113,"labels":[],"draft":false,"imported":false,"imported_from":"none","work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"checking","detailed_merge_status":"preparing","merge_after":null,"sha":"4f087ecfeadc8250fb35cf6196fac4ee49420179","merge_commit_sha":null,"squash_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"prepared_at":null,"reference":"!19","references":{"short":"!19","relative":"!19","full":"test-owner/test-repo!19"},"web_url":"https://gitlab.com/test-owner/test-repo/-/merge_requests/19","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"squash_on_merge":false,"task_completion_status":{"count":0,"completed_count":0},"has_conflicts":false,"blocking_discussions_resolved":true,"approvals_before_merge":null,"subscribed":true,"changes_count":null,"latest_build_started_at":null,"latest_build_finished_at":null,"first_deployed_to_production_at":null,"pipeline":null,"head_pipeline":null,"diff_refs":null,"merge_error":null,"user":{"can_merge":true}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 639.056792ms
    - id: 3
      request:
        host: gitlab.com
        body: '{"body":"jzgKt23nmPSjffdxRxdNb5xPSPgNbxM5"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/78127113/merge_requests/19/notes
        method: POST
      response:
        body: '{"id":3049284844,"type":null,"body":"jzgKt23nmPSjffdxRxdNb5xPSPgNbxM5","author":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"created_at":"2026-01-31T14:35:24.217Z","updated_at":"2026-01-31T14:35:24.217Z","system":false,"noteable_id":451009809,"noteable_type":"MergeRequest","project_id":78127113,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":19,"commands_changes":{}}'
        headers:
            Content-Type:
                - application/json
        status: 201 Created
        code: 201
        duration: 325.210833ms
[...]
    - id: 13
      request:
        host: gitlab.com
        body: '{"body":"WL2cKAfZHK6w1WJUbKHAtJ78awoB31vb"}'
        headers:
            Content-Type:
                - application/json
        url: https://gitlab.com/api/v4/projects/78127113/merge_requests/19/notes/3049284844
        method: PUT
      response:
        body: '{"id":3049284844,"type":null,"body":"WL2cKAfZHK6w1WJUbKHAtJ78awoB31vb","author":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"created_at":"2026-01-31T14:35:24.217Z","updated_at":"2026-01-31T14:35:30.061Z","system":false,"noteable_id":451009809,"noteable_type":"MergeRequest","project_id":78127113,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":19,"commands_changes":{}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 519.656125ms
    - id: 14
      request:
        host: gitlab.com
        form:
            per_page:
                - "3"
            sort:
                - asc
        headers:
        url: https://gitlab.com/api/v4/projects/78127113/merge_requests/19/notes?per_page=3&sort=asc
        method: GET
      response:
        body: '[{"id":3049284844,"type":null,"body":"WL2cKAfZHK6w1WJUbKHAtJ78awoB31vb","author":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be[...]
    - id: 15
      request:
        host: gitlab.com
        form:
            page:
                - "2"
            per_page:
                - "3"
            sort:
                - asc
        headers:
        url: https://gitlab.com/api/v4/projects/78127113/merge_requests/19/notes?page=2&per_page=3&sort=asc
        method: GET
      response:
        body: '[{"id":3049284857,"type":null,"body":"dea931AOeTzDYqxLZsaTgwzOZVdgaGss","author":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https:/[...]
[...]
    - id: 17
      request:
        host: gitlab.com
        form:
            page:
                - "4"
            per_page:
                - "3"
            sort:
                - asc
        headers:
        url: https://gitlab.com/api/v4/projects/78127113/merge_requests/19/notes?page=4&per_page=3&sort=asc
        method: GET
      response:
        body: '[{"id":3049284896,"type":null,"body":"FLZV2fR6hCSfaxOw39BQ3XM5pBqhttYO","author":{"id":20151226,"username":"test-owner","public_email":null,"name":"Edmund Kohlwey","state":"active","locked":false,"avatar_url":"https://secure.gravatar.com/avatar/904b5f6e9cd719f41942b80d93aec6206005ec5e4db7114a60b29dcbec6a1be2?s=80\u0026d=identicon","web_url":"https://gitlab.com/test-owner"},"created_at":"2026-01-31T14:35:29.407Z","updated_at":"2026-01-31T14:35:29.407Z","system":false,"noteable_id":451009809,"noteable_type":"MergeRequest","project_id":78127113,"resolvable":false,"confidential":false,"internal":false,"imported":false,"imported_from":"none","noteable_iid":19,"commands_changes":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Next-Page:
                - ""
            X-Page:
                - "4"
            X-Total-Pages:
                - "4"
        status: 200 OK
        code: 200
        duration: 214.918166ms
[...]
